.ButtonContainer{
  height: 200px;
  position: relative;
  transform: translateY(70%);
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translateY(100%);
}

.button1 {
background-color: rgb(83, 3, 3); 
color:rgb(174, 130, 89); 
border: 2px solid #f6f6f6;
display: inline;
height: 90px;
width: 140px;
}
.button1:hover {
  background-color: #070707;
  color: rgb(139, 0, 0);
}

.button2 {
text-align: center;
background-color: rgb(83, 3, 3); 
color:rgb(174, 130, 89); 
border: 2px solid #f6f6f6;
height: 90px;
width: 140px;
}

.button2:hover {
  background-color: #030303;
color: rgb(139, 0, 0);
}