body {
    margin: 0;
    padding: 0;
    background-image: url('Backround for tutorial.png'); 
    background-size: cover; 
    background-position: center; 
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff; 
    font-family: 'Amatic SC', sans-serif;
    text-align: center;
    display: block;
  }
h1{
    font-size: 50px;
}
p {
    font-size: 25px;
}
.sub-container{
    width: 900px;
}
.bottom-button {
    margin-bottom: 20px; 
    background-color: rgb(83, 3, 3); 
    color:rgb(174, 130, 89); 
    border: 2px solid #030303;
    display: inline;
    height: 50px;
    width: 100px;
  }
.bottom-button:hover {
  background-color: #070707;
  color: rgb(139, 0, 0);
}
a{
    text-decoration: none;
  }